@media (min-width: 320px) {
  .aside{
    position: absolute;
    top: 0;
    width: 100%;
    height: 1800px;
    opacity: 0; 
    pointer-events: none; 
    transition: 0.5s all;
    padding: 0;
    background: rgba(255, 255, 255, 0.767);
    z-index: 50;
  }
  .aside.active{ 
    opacity: 1; 
    pointer-events: all; 
    transition: 0.5s all;
  }
  .aside__main-nav.active { 
    transition: 0.5s all;
  }
  .aside__main-nav{
    height: 100%;
    width: 320px;
    padding: 19px 24px 32px 24px;
    background-color: $background-color-default;
    transition: 0.5s all;
    z-index: 50;
  }
  .aside__burger-cross{
    margin-right: 16px;
    bottom: 7px;
    position: relative;
    padding-bottom: 50px;
  }
  .aside__search{
    margin-left: 70px;
    bottom: 7px;
    position: relative;
  }
  .main-nav__menu{
    display: block;
  }
  .menu__item{
    margin-bottom: 32px;
  } 
  .menu__link{
    color: $text-color;
    font-weight: 500;
  }
  .menu__link--active{
    color: $text-color-gray;
    cursor: default;
  }
  .menu__link:hover{
    color: $button-color;
  }
  .menu__link--active:hover{
    color: $text-color-gray;
  }
  .menu__link--active::before{
    content: '';
    border-right: 3px solid $stick-color;
    border-radius: 3px;
    position: relative;
    right: 24px;
  }
  .main-nav__user-buttons{
    display: flex;
    gap: 16px;
  }
  .button:hover{
    filter: hue-rotate(230deg);
  }
  .logo:hover{
    filter: brightness(80%);
  }
  .main-nav__contact{
    display: flex;
    flex-direction: column;
    font-style: normal;
  }
  .contact__mail:hover{
    color: $button-color;
  }
  .contact__tel:hover{
    color: $button-color;
  }
  .contact__mail{
    margin-top: 16px;
    margin-bottom: 12px;
    font-weight: 500;
  }
  .contact__tel{
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: -0.6px;
  }
  .contact a{
    color: $text-color;
  }
  .main-nav__lang{
    display: flex;
    gap: 7px;
  }
  .lang__link{
    color: $text-color;
  }
  .lang__link--active{
    color: $text-color-gray;
    cursor: default;
  }
  .lang__link:hover{
    color: $button-color;
  }
  .lang__link--active:hover{
    color: $text-color-gray;
  }
}

@media (min-width: 770px){ /*Планшет*/
  .aside{
    display: flex;
    left: 0;
    bottom: 0;
    top: 0;
    width: 320px;
    height: 1800px;
    position: relative;
    background-color: $background-color-default;
    opacity: 1;
    pointer-events: all;
  }
  .aside__main-nav{
    height: 100%;
    min-width: 320px;
    padding: 19px 24px 32px 24px;
    background-color: $background-color-default;
  }
  .aside__burger-cross{
    margin-right: 16px;
    bottom: 7px;
    position: relative;
    padding-bottom: 50px;
    display: none;
  }
  .aside__search{
    margin-left: 118px;
    bottom: 7px;
    position: relative;
    padding-bottom: 50px;
  }
  .main-nav__menu{
    display: block;
    padding-bottom: 236px;
  }
  .menu__item{
    margin-bottom: 32px;
  } 
  .menu__link{
    color:  $text-color;
    font-weight: 500;
  }
  .menu__link--active{
    color: $text-color-gray;
    cursor: default;
  }
  .menu__link:hover{
    color: $button-color;
  }
  .menu__link--active:hover{
    color: $text-color-gray;
  }
  .menu__link--active::before{
    content: '';
    border-right: 3px solid #41F6D7;
    border-radius: 3px;
    position: relative;
    right: 24px;
  }
  .main-nav__user-buttons{
    display: flex;
    gap: 16px;
  }
  .button:hover{
    filter: hue-rotate(230deg);
  }
  .logo:hover{
    filter: brightness(80%);
  }
  .main-nav__contact{
    display: flex;
    flex-direction: column;
    font-style: normal;
  }
  .contact__mail:hover{
    color: $button-color;
  }
  .contact__tel:hover{
    color: $button-color;
  }
  .contact__mail{
    margin-top: 16px;
    margin-bottom: 12px;
    font-weight: 500;
  }
  .contact__tel{
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: -0.6px;
  }
  .contact a{
    color: #1B1C21;
  }
  .main-nav__lang{
    display: flex;
    gap: 7px;
  }
  .lang__link{
    color: #1B1C21;
  }
  .lang__link--active{
    color: $text-color-gray;
    cursor: default;
  }
  .lang__link:hover{
    color: $button-color;
  }
  .lang__link--active:hover{
    color: $text-color-gray;
  }
}

@media (min-width: 1120px){
  .aside{
    display: flex;
    left: 0;
    bottom: 0;
    top: 0;
    width: 320px;
    height: 1800px;
    position: relative;
    background-color: $background-color-default;
    opacity: 1;
    pointer-events: all;
  }
  .aside__main-nav{
    height: 100%;
    min-width: 320px;
    padding: 19px 24px 32px 24px;
    background-color: $background-color-default;
  }
  .aside__burger-cross{
    margin-right: 16px;
    bottom: 7px;
    position: relative;
    padding-bottom: 50px;
    display: none;
  }
  .aside__search{
    margin-left: 118px;
    bottom: 7px;
    position: relative;
    padding-bottom: 50px;
  }
  .main-nav__menu{
    display: block;
    padding-bottom: 236px;
  }
  .menu__item{
    margin-bottom: 32px;
  } 
  .menu__link{
    color:  #1B1C21;
    font-weight: 500;
  }
  .menu__link--active{
    color: #7E7E82;
    cursor: default;
  }
  .menu__link:hover{
    color: #FF3E79;
  }
  .menu__link--active:hover{
    color: #7E7E82;
  }
  .menu__link--active::before{
    content: '';
    border-right: 3px solid #41F6D7;
    border-radius: 3px;
    position: relative;
    right: 24px;
  }
  .main-nav__user-buttons{
    display: flex;
    gap: 16px;
  }
  .button:hover{
    filter: hue-rotate(230deg);
  }
  .logo:hover{
    filter: brightness(80%);
  }
  .main-nav__contact{
    display: flex;
    flex-direction: column;
    font-style: normal;
  }
  .contact__mail:hover{
    color: #FF3E79;
  }
  .contact__tel:hover{
    color: #FF3E79;
  }
  .contact__mail{
    margin-top: 16px;
    margin-bottom: 12px;
    font-weight: 500;
  }
  .contact__tel{
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: -0.6px;
  }
  .contact a{
    color: #1B1C21;
  }
  .main-nav__lang{
    display: flex;
    gap: 7px;
  }
  .lang__link{
    color: #1B1C21;
  }
  .lang__link--active{
    color: #7E7E82;
    cursor: default;
  }
  .lang__link:hover{
    color: #FF3E79;
  }
  .lang__link--active:hover{
    color: #7E7E82;
  }
}